@import '../.././styles/variables.styl'

class = '.c-select'

{class}
    position relative
    height 100%

    &__form
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 70%

    &__input
        border-bottom 3px solid $mainColor

    &__text
        min-height 30px
        width 100%
        border 0
        text-align center
        font-size 30px
        font-weight bold

        &:focus
            outline-width: 0

    &__button 
        border none
        background none
        position absolute
        right 0
        top 0
        cursor pointer
        outline-width: 0

    &__search
        font-size 34px

    &__separate__word
        display block
        margin 12px auto
        width 20px

    &__separate__line
        display block
        margin 12px auto
        width 190px
        font-size 18px

    &__coords
        border-bottom 1px dotted $mainColor
        cursor pointer

@media (max-width: 375px)
    {class}
        &__text
            text-align left
        &__sentence
            display none
        &__button
            top 7px

