<section class="c-select">
    <form class="c-select__form">
        <div class="c-select__input">
            <input class="c-select__text" type="text" placeholder="City" name="selectedCity" [(ngModel)]="selectedCity">
            <button class="c-select__button" (click)="getWeatherByCityName()">
                <i class="material-icons c-select__search">search</i>
            </button>
        </div>
        <p class="c-select__sentence"><span class="c-select__separate__word">or</span><span class="c-select__separate__line">use my
            <span class="c-select__coords" (click)="getWeatherByCoords()">current position</span></span>
        </p>
    </form>
</section>
