@import './variables.styl'

* 
    font-family 'Roboto', 'Open Sans', sans-serif
    color $mainColor


html 
    height 100%
    width 100%


body 
    background linear-gradient($orangeDarker, $orangeLighter)
    position relative
    height 100%


.container 
    width 900px
    height 800px
    background-color #fff
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    box-shadow 0 2px 6px 3px rgba(0,0,0,0.16), 0 3px 6px 1px rgba(0,0,0,0.23)


@media (max-width: 360px)
    .container
        max-width 260px
        max-height: 400px
       

@media (min-width: 360px)
    .container
        max-width 320px
        max-height 520px
       

@media (min-width: 600px)
    .container
        max-width 540px
        max-height 700px
     

@media (min-width: 960px)
    .container
        max-width 800px
        max-height 600px


@media (min-width: 1280px)
    .container
        max-width 900px
        max-height 500px
    

