<section class="c-weather">
  <header class="c-weather__header">
    <i [routerLink]="['/']" class="material-icons c-weather__arrow">arrow_back</i>
    <h1 class="c-weather__city">{{ currentCity.name }}</h1>
    <div class="c-weather__toggle">
      <label class="c-weather__label">
        <input [(ngModel)]="isFahrenheit" type="checkbox">
        <span class="c-weather__slider"></span>
      </label>
    </div>
  </header>
  <section class="c-weather__main">
    <div class="headings">
      <h2>{{ currentCity.currentDate.toLocaleDateString("en-US", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) }}</h2>
      <h3>{{ currentCity.currentWeather }}</h3>
    </div>
    <div class="currentWeather">
      <div *ngIf="!isFahrenheit" class="c-weather__currentTemp">
        {{ currentCity.currentTemperature }}°C
      </div>
      <div *ngIf="isFahrenheit" class="c-weather__currentTemp">
        {{ currentCity.currentTemperature | convertTemp }}°F
      </div>
      <div>
        <img class="c-weather__bigImg" [src]="currentCity.iconPath">
      </div>
    </div>
    <div class="todaysForecast">
      <p *ngFor="let item of currentCity.forecastForDay">
        <span *ngIf="!isFahrenheit">
          {{ item.timeOfDay }}
          <span class="alignRight">{{ item.temperature }}°C</span>
        </span>
        <span *ngIf="isFahrenheit">
          {{ item.timeOfDay }}
          <span class="alignRight">{{ item.temperature | convertTemp }}°F</span>
        </span>
      </p>
    </div>
  </section>
  <section class="c-weather__forecast">
    <div *ngFor="let item of currentCity.forecastForWeek">
      <div *ngIf="!isFahrenheit">
        <p>{{ item.dayOfWeek }}</p>
        <img class="c-weather__forecastImg" src="assets/svg/wi-thermometer-exterior.svg">
        <p>{{ item.temperature }}°C</p>
      </div>
      <div *ngIf="isFahrenheit">
        <p>{{ item.dayOfWeek }}</p>
        <img class="c-weather__forecastImg" src="assets/svg/wi-thermometer-exterior.svg">
        <p>{{ item.temperature |convertTemp }}°F</p>
      </div>
    </div>
  </section>
</section>
