@import '../.././styles/variables.styl'

class = '.c-weather'

{class} {

    &__header {
        height 75px
        margin 20px
        position relative
    }

    &__arrow {
        font-size 34px
        position relative
        top 6px
        cursor pointer
        outline-width: 0
    }

    &__city {
        font-size 34px
        display inline-block
        margin 0 0 0 20px
    }
    
    &__toggle {
        position absolute
        right 0
        top 8px
    }

    &__label {
        position relative
        width 79px
        height 26px
        display inline-block
        cursor pointer

        & input {
            display none
            &:checked + {class}__slider:after {
                content "°F"
                left 16px
                transition 0.5s
            }
            &:checked + {class}__slider:before {
                transform translate(52px)
            }
        }
    }

    &__slider {
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        border 1px solid $mainColor
        border-radius 15px
        &:before {
            position absolute
            content ""
            border 1px solid $mainColor
            background-color #fff
            width 23px
            height 23px
            border-radius 50%
            transition 0.5s
        }
        &:after {
            position absolute
            content "°C"
            font-size 13px
            font-weight bold
            top 5px
            left 52px
            color $mainColor
            transition 0.5s
        }
    }

    &__main {
        display grid
        grid-template-columns 55% 45%
        grid-template-rows 90px 140px
        height 230px
        margin 20px
        position relative
        padding-left 5px
        & .currentWeather {
            grid-column 1 / 2
            display grid
            grid-template-columns 50% 50%
            grid-template-rows 140px
        }
        & .todaysForecast {
            padding 20px
        }
        & h2 {
            font-size 33px
            font-weight normal
            margin 7px 0
        }
        & h3 {
            font-size 30px
            font-weight normal
            text-transform capitalize
            margin 7px 0
        }
        & p {
            font-size 18px
            width 140px
            position relative
            margin 6px
            & span {
                color $orangeDarker
            }
            & .alignRight {
                position absolute
                right 0
                color $orangeDarker
            }
        }
    }

    &__currentTemp {
        font-size 100px
        font-weight bold
        color $orangeDarker
        padding 16px
    }

    &__forecast {
        display grid
        grid-template-columns 20% 20% 20% 20% 20%
        text-align center
        & p {
            margin 4px
            font-size 14px
        }
        & {class}__forecastImg {
            width 30%
            height auto
        }
    }

    &__bigImg {
        width 150px
        height auto
    }

}


@media (max-width: 1279px)
    {class}__main
        height 330px
        grid-template-columns 65% 35%
        grid-template-rows 160px 170px
        & .headings
            padding-top 30px        


@media (max-width: 959px)
    {class}__main
        height 430px
        grid-template-columns 45% 55%        
        grid-template-rows 120px 210px
        margin 10px
        & .headings
            grid-column 1/3
            padding 25px 0 0 16px
        & .currentWeather
            grid-template-columns 100%
            grid-template-rows 110px
        & .todaysForecast p
            font-size 28px
            width 200px
            margin-top 20px


@media (max-width: 599px)
    {class}__header
        height 40px
    {class}__main
        height 240px
        grid-template-rows 60px 80px
        & .currentWeather
            grid-column 1/4
            grid-template-columns 50% 50%            
        & h2
            font-size 20px
            margin 10px 0
        & h3
            font-size 18px
            margin 10px 0                
        & .headings
            margin-left 16px
            padding 0
        & .todaysForecast
            display grid
            grid-template-columns 50% 50%
            grid-column 1/3
            padding 15px
    {class}__currentTemp
        font-size 60px
    {class}__bigImg
        width 90px
        height auto        
    {class}__forecast
        display block
        text-align left
        margin 20px 0 0 30px
        & p
            display inline
        & > div > div
            display grid
            grid-template-columns 40% 10% 30%
        & {class}__forecastImg
            width 30px
            height auto
    {class} .todaysForecast p
        font-size 16px
        width 110px
        font-weight bold
    {class}__city
        margin-left 5px
    {class}__toggle
        top 10px

@media (max-width: 359px)
    {class}
        &__main
            grid-template-rows: 95px 80px;
            & .headings
                display none
            & .todaysForecast
                display block
            & .currentWeather
                margin-top 20px
        &__currentTemp
            padding-right 60px
        &__forecast
            display none
        &__header
            margin-top 12px
        &__city
            position relative
            top 50px
            right 28px


        
     
